.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(110, 110, 110);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(110, 110, 110);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.loader-sec{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* loader sec film bar */
.loader-sec-film{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* loader finished */

.card{
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.717);
}

/* small card */
.btn-primary-smallCard{
  flex-grow: 1;
}

.btn-fav-smallCard{
  flex-grow: 0;
}

/* Card */
.btn-primary-card{
  flex-grow: 1;
}

.btn-fav-card{
  flex-grow: 0;
}



/* home page */

.movie-bar{
  overflow-x: scroll;
  height: auto;
}

.linkSmallCard{
  color: white;
}

.linkSmallCard:visited{
  color: white;
}

/* link card */
.linkCard{
  color: white;
}

.linkCard:visited{
  color: white;
}

/* Page title */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.page-title {
  margin-bottom: .5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  color: #a6b3c0;
  text-align: center;
}


/* home titles */
.home-title{
  color: #a6b3c0;
  text-shadow: 0 0 1px #FFFFFF, 1px 0px 1px rgba(206,206,206,0.82);
}