.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(110, 110, 110);
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(110, 110, 110);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.loader-sec{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* loader sec film bar */
.loader-sec-film{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* loader finished */

.card{
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.717);
}

/* small card */
.btn-primary-smallCard{
  flex-grow: 1;
  background-color: rgba(72, 72, 99, 0.568);
}

.btn-primary-smallCard:hover{
  background-color: rgba(72, 72, 99, 0.829);
}

.btn-fav-smallCard{
  flex-grow: 0;
  cursor: pointer;
}

/* Card */
.btn-primary-card{
  flex-grow: 1;
  background-color: rgba(72, 72, 99, 0.568);
}

.btn-primary-card:hover{
  background-color: rgba(72, 72, 99, 0.829);
}

.btn-fav-card{
  flex-grow: 0;
  cursor: pointer;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 3;
}

/* home page */
a:hover{
  text-decoration: none;
  text-transform: none;
}


.movie-bar{
  overflow-x: scroll;
  height: auto;
}

.movie-bar::-webkit-scrollbar {
  height: 5px;
}

.movie-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(132, 130, 130, 0.3);
}

.movie-bar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}


.linkSmallCard{
  color: white;
}

.linkSmallCard:hover{
  color: #a49f9f;
  text-decoration: none;
}

.linkSmallCard:visited{
  color: white;
}

/* link card */
.linkCard{
  color: white;
}

.linkCard:hover{
  color: #a49f9f;
  text-decoration: none;
}


.linkCard:visited{
  color: white;
}

/* Page title */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.page-title {
  margin-bottom: .5em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  color: #a6b3c0;
  text-align: center;
}


/* home titles */
.home-title{
  color: #a6b3c0;
  text-shadow: 0 0 1px #FFFFFF, 1px 0px 1px rgba(206,206,206,0.82);
}

/* view film */
.film-background{
  color: rgba(255, 255, 255, 0.717);
}

/* heart */
/* .heart-switch {
    --duration: .45s;
    --stroke: #D1D6EE;
    --stroke-active: #ec4472;
    --fill: #fff;
    --fill-active: #ec638e;
    --shadow: #{rgba(#00093D, .25)};
    cursor: pointer;
    position: relative;
    transform: scale(var(--s, 1)) translateZ(0);
    transition: transform .2s;
    -webkit-tap-highlight-color: transparent;
    &:active {
        --s: .95;
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        outline: none;
        border: none;
        pointer-events: none;
        z-index: 1;
        margin: 0;
        padding: 0;
        left: 1px;
        top: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 1px 3px 0 var(--shadow);
        & + svg {
            width: 36px;
            height: 25px;
            fill: var(--fill);
            stroke: var(--stroke);
            stroke-width: 1px;
            stroke-linejoin: round;
            display: block;
            transition: stroke var(--duration), fill var(--duration);
        }
        &:not(:checked) {
            animation: uncheck var(--duration) linear forwards;
        }
        &:checked {
            animation: check var(--duration) linear forwards;
            & + svg {
                --fill: var(--fill-active);
                --stroke: var(--stroke-active);
            }
        }
    }
} */

.heart-switch {
  --duration: 0.45s;
  --stroke: #d1d6ee;
  --stroke-active: #ec4472;
  --fill: #fff;
  --fill-active: #ec4472;
  --shadow: rgba(0, 9, 61, .25);
  cursor: pointer;
  position: relative;
  transform: scale(var(--s, 1)) translateZ(0);
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.heart-switch:active {
  --s: 0.95;
}

.heart-switch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  outline: none;
  border: none;
  pointer-events: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 3px 0 var(--shadow);
}

.heart-switch input + svg {
  width: 36px;
  height: 25px;
  fill: var(--fill);
  stroke: var(--stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  display: block;
  transition: stroke var(--duration), fill var(--duration);
}

.heart-switch input:not(:checked) {
  animation: uncheck var(--duration) linear forwards;
}

.heart-switch input:checked {
  background: #ec4472;
  animation: check var(--duration) linear forwards;
}

.heart-switch input:checked + svg {
  --fill: var(--fill-active);
  --stroke: var(--stroke-active);
}

@keyframes uncheck {
    0% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    75% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes check {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
    }
    50% {
        transform: rotate(30deg) translateX(9px);
    }
    100% {
        transform: rotate(-30deg) translateX(13.5px) translateY(8px);
    }
}
/* heart end*/